.card {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
html,
body {
  height: 100%;
}
body {
  background-color: blue;
}
.cotainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
button {
  border-radius: 2px;
  border: none;
  padding: 6;
}
